.pages_scroll
{
   overflow:auto;
   width:100%;
}

.tag
{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin:5px;
padding: 3px;
border: 1px solid grey;
background-color: #DFDFFF;
}